@model MaintenanceReminder.Models.Device

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintainerId" class="control-label"></label>
                <select asp-for="MaintainerId" class="form-control" asp-items="ViewBag.MaintainerId"></select>
                <span asp-validation-for="MaintainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeOfLastMaintenance" class="control-label"></label>
                <input asp-for="DateTimeOfLastMaintenance" class="form-control" />
                <span asp-validation-for="DateTimeOfLastMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeOfNextMaintenance" class="control-label"></label>
                <input asp-for="DateTimeOfNextMaintenance" class="form-control" />
                <span asp-validation-for="DateTimeOfNextMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><input type="submit" value="Powrót do listy" class="btn btn-primary" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
