@model MaintenanceReminder.Models.Manufacturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="submit" value="Edytuj" class="btn btn-primary" /></a>
    <a asp-action="Index"><input type="submit" value="Powrót do listy" class="btn btn-primary" /></a>
</div>
